* {
  outline: none;
}


.App {
  text-align: center;
}

.Title {
  background-color: #FF0211;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  background-color: #4DC9FF;
  padding: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}


#nameInput,
#categoryInput,
#imageInput {
  margin-right: 20px;
  padding: calc(1px + 0.5vmin);
  border-radius: 10px;
  border-color: #4DC9FF;
}

.placeHolder {
  color: gray;
}


#submit-button {
  padding: calc(1px + 0.5vmin);
  border-radius: 10px;
  border-color: #4DC9FF;
  color: #FF0211;
  background-color: white;
}


.GridListing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 10px;
}

.ItemList {
  background-color: #FFFFFF;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: #222222;
  float: left;
  margin-left: calc(70px + 1vmin);
  margin-top: calc(10px + 1vmin);
  border-radius: 1vw;
}


#delete-btn {
  width: 10px;
  height: 10px;
}

.ListedImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.App-link {
  color: #4DC9FF;
}

.empty-state {
  text-align: center;
}

#empty-image {
  display: block;
  margin-top: calc(1px + 0.5vmin);
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}



h3 {
  margin: 0px;
  font-weight: thick;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}